.articleCard {
  background: #ae7dad;
  font-family: palatino;
  display: grid;
  grid-template-areas:
    'title'
    'author'
    'body';
  border: 3px solid #720070;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15rem;
  padding: 4px;
  align-items: center;
  margin: auto;
  width: 600px;
}

.title1 {
  grid-area: title;
  font-family: palatino;
}

.author1 {
  grid-area: author;
}

.body1 {
  grid-area: body;
}

.linktoArticle {
  text-decoration: none;
}
