.articleCard {
  background: #ae7dad;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
  grid-template-areas:
    'title'
    'author'
    'body';
  border: 3px solid #720070;
}

.title1 {
  grid-area: title;
}

.author1 {
  grid-area: author;
}

.body1 {
  grid-area: body;
}

.linktoArticle {
  text-decoration: none;
}
