.comment {
  display: grid;
  grid-template-rows: 1fr 2em 2em;

  grid-template-areas:
    'body body'
    'date username'
    'delete votes';
  justify-content: space-between;
  align-content: space-around;
}

.commentBody {
  background-color: wheat;
  grid-area: body;
}

.createdAt {
  background-color: azure;
  grid-area: date;
  padding: 0;
  margin: 0;
}

.username {
  background-color: yellowgreen;
  grid-area: username;
  padding: 0;
  margin: 0;
}

.votes {
  background-color: blue;
  grid-area: votes;
  padding: 0;
  margin: 0;
}

.deleteComment {
  grid-area: delete;
  background-color: antiquewhite;
}
