/* .comment {
  display: grid;
  background-color: lavender;
  grid-template-rows: 2fr 1fr 1fr;

  grid-template-areas:
    'body body'
    'date username'
    'delete votes';
  justify-content: space-between;
  align-content: space-around;
  border: 3px purple solid;
} */

.commentBody {
  font-family: palatino;
  color: black;
  background-color: rgba(144, 128, 175, 0.993);
  grid-area: body;
  align-content: left;
}

.createdAt {
  font-family: palatino;
  color: black;
  grid-area: date;
  padding: 0;
  margin: 0;
}

.username {
  font-family: palatino;
  color: black;
  grid-area: username;
  padding: 0;
  margin: 0;
}

.votes2 {
  color: black;
  background-color: blue;
  grid-area: votes;
  padding: 0;
  margin: 0;
}

.deleteComment {
  grid-area: delete;
  background-color: antiquewhite;
}
