.sidebarContainer {
  background-image: linear-gradient(#9d50bb, #6e48aa);
}
.sidebar {
  background: #720070;
  grid-area: sidebar;
}

.allUsersLink {
  background: lavender;
  text-decoration: none;

  width: auto;
}
