.articleBox {
  display: grid;
  background-color: #ae7dad;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-auto-columns: 1fr 1fr;
  grid-template-areas:
    'title topic'
    'body body'
    'created author'
    'null votes'
    'delete commentButton';
}

.title2 {
  grid-area: title;
  font-size: 16px;
  background-color: purple;
  padding: 0;
}

.topic2 {
  grid-area: topic;
  background-color: purple;
  text-align: right;
}
.body2 {
  grid-area: body;
  background-color: blueviolet;
}

.author2 {
  grid-area: author;
  text-align: right;
}
.createdAt2 {
  grid-area: created;
  text-align: left;
}
.deleteButton {
  grid-area: delete;
  color: grey;
}
.commentsButton {
  grid-area: commentButton;
  background-color: pink;
}

.votes {
  grid-area: votes;
}
