.articleBox {
  background-color: #ae7dad;
  border: solid 2px silver;
}

.title2 {
  font-family: palatino;
  grid-area: title;
  font-size: 16px;
  background-color: #ae7dad;
  text-align: left;
}

.topic2 {
  font-family: palatino;
  text-transform: uppercase;
  font-size: 20px;
  grid-area: topic;
  background-color: #ae7dad;
  text-align: right;
}
.body2 {
  grid-area: body;
  background-color: rgb(168, 120, 168);
}

.author2 {
  grid-area: author;
  text-align: right;
  font-family: palatino;
  color: azure;
}
.createdAt2 {
  grid-area: created;
  text-align: left;
  font-family: palatino;
  color: azure;
}
.deleteButton {
  grid-area: delete;
  color: grey;
}
.commentsButton {
  background-color: lavender;
  padding: 30px;
  font-family: palatino;
  font-size: 15px;
}

.votes {
  grid-area: votes;
}

.actualVotes {
  color: black;
}
