.sortForm {
  background-color: #d29bd7;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
  grid-template-areas: 'sortby order results button';
  size: 40rem;
  margin: 0;
  padding: 0;
}

.sortText {
  grid-area: sortby;
  margin-top: 15%;
  font-family: palatino;
}
.chosenSort {
  grid-area: sortdrop;
  margin: 10px;
  height: 30px;
  font-family: palatino;
}

.orderText {
  grid-area: order;
  font-family: palatino;
}

.orderSort {
  grid-area: orderdrop;
  font-family: palatino;
}

.limitText {
  grid-area: results;
  font-family: palatino;
}

.limitSort {
  grid-area: resultsdrop;
  font-family: palatino;
}

.submitButton {
  grid-area: button;

  font-family: palatino;
}

@media screen and (max-width: 500px) {
  .sortForm {
    display: grid;
    height: 10rem;
    grid-template: 1fr 1fr 1fr / 1fr;
    grid-template-areas:
      'sortby'
      'sortdrop'
      'order'
      'orderdrop'
      'results'
      'resultsdrop'
      'button';
  }
}

.pageChange {
  background-color: #885522;

  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr;
  grid-template-areas: 'button1 page button2';
}

.responsiveButton1 {
  grid-area: button1;
  padding: 5px;
  margin: 10px;
  font-family: palatino;
}

.page {
  grid-area: page;
  align-content: center;
  align-self: center;
  font-family: palatino;
}

.responsiveButton2 {
  grid-area: button2;
  padding: 5px;
  margin: 10px;
  font-family: palatino;
}

@media only screen and (max-width: 500px) {
  .pageChange {
    height: 5rem;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    grid-template-areas: 'button1 page button2';
  }
}
