.App {
  text-align: center;
  display: grid;
  height: 100vh;

  grid-template: 1fr 1fr 7fr 1fr /3fr 1fr;
  grid-template-areas:
    'header header'
    'nav nav'
    'articles sidebar'
    'footer footer';
}

@media only screen and (max-width: 414px) {
  .App {
    grid-template: 1fr 1fr 1fr 7fr 1fr/ 1fr;
    grid-template-areas:
      'header'
      'nav'
      'sidebar'
      'articles'
      'footer';
  }
}

.header {
  background: #720070;
  grid-area: header;
}

.nav {
  background: lavender;
  grid-area: nav;
}

.main {
  display: grid;
  grid-template: 1fr 2fr 1fr;
  background: aliceblue;
  grid-area: articles;
  overflow-y: auto;
}

.footer {
  background: #720070;
  grid-area: footer;
}

.chosenSort {
  font-family: palatino;
  font-size: 60%;
  padding: 0;
  margin: 0;
}

.list {
  height: 100%;
  overflow-y: auto;
}
