.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template: 1fr 1fr 7fr 1fr /3fr 1fr;
  grid-template-areas:
    'header header'
    'nav nav'
    'articles sidebar'
    'footer footer';
}

.header {
  background: royalblue;
  grid-area: header;
}

.nav {
  background: lavender;
  grid-area: nav;
}

.sidebar {
  background: pink;
  grid-area: sidebar;
}

.main {
  display: grid;
  grid-template: 1fr 2fr 1fr;
  background: aliceblue;
  grid-area: articles;
  overflow-y: auto;
}

.footer {
  background: lightblue;
  grid-area: footer;
}

.chosenSort {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60%;
  padding: 0;
  margin: 0;
}

.articleCard {
  background: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
  height: 100%;
  overflow-y: auto;
}
